* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: -0.01em;
    color: #7c8f8f;
    white-space: nowrap ;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    width: 100%;
    padding-right: 20px;
}

button {
    border: none;
    cursor: pointer;
}

.header__img {
    background-color: #5CA5A5;
    width: 100%;
    height: 255px;
    margin-bottom: 60px;
}


.hero__item {
    width: 100%;
    border-left: 5px solid #5CA5A5;
    border-radius: 7px;
    padding: 32px 40px;
    box-shadow: 0 15px 20px -5px rgba(13, 113, 130, 0.15);
    background-color: #fff;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
}

.hero__item_title {
    font-weight: 700;
    font-size: 14px;
    color: #5ca5a5;
}

.hero__btn {
    padding: 6px 8px;
    border: none;
    border-radius: 12px;
    background-color: #5CA5A5;
    font-weight: 700;
    font-style: 12px;
    color: #fff;
}

.hero__button {
    background-color: #2B3939;
}

.hero__second__item_title_box {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.hero__item_content_box {
    max-width: 390px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero__second__item_title {
    font-weight: 700;
    font-size: 25px;
    line-height: 133%;
    color: #2b3939;
    margin-bottom: 5px;
}

.hero__second__item_link {
    gap: 20px;
    display: flex;
    align-items: center;
}

.hero__skils_btn {
    background-color: #EFF6F6;
    padding: 4px 5px;
    color: #5CA5A5;
    border-radius: 4px;
    font-weight: 700;
    font-style: 13px;
    text-align: center;
}

.hero__skils {
    max-width: 340px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.hr {
    display: none;
}

@media (max-width:716px) {
    .hero__item {
        flex-wrap: wrap;
        height: 260px;
        gap: 10px;
        margin-bottom: 90px;
    }

    .hr {
        display: block;
        border: 1px solid #b7c4c4;
        width: 100%;
    }
}

@media (max-width:440px) {
    .hero__item_content_box {
        flex-direction: column;
        align-items: start;
        margin-top: -75px;
    }
    .hero__item{
        height: 270px;
    }
    .hero__second__item_title_box {
        flex-wrap: wrap;
    }

    .hero__svg{
        width: 65px;
        height: 65px;
    }
}

@media (max-width:344px) {
    .hr {
        display: none;
    }
    .hero__second__item_title{
        font-size: 15px;
    }
    .hero__item_content_box {
        gap: 5px;
        margin-bottom: -50px;
    }

    .hero__svg {
        width: 50px;
        height: 50px;
    }


    .hero__second__item_title_box {
        margin-bottom: 5px;
    }

    .hero__second__item_title {
        margin-bottom: 5px;
    }

    .hero__skils {
        gap: 5px;
    }
}